footer {
  color: #fff;
  background-color: #aaa;
}
.overwrite-body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #666;
    background-color: #888;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
}
.about {
  margin: 0px 60px 0px 60px !important;
  border-radius: 6px;
  color: #fff !important;
  background-color: #aaa !important;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.cursive {
  font-family: 'Lobster', cursive;
  font-size: 20px !important;
}
#portfolio {
  margin: 0px 60px 0px 60px;
  border-radius: 6px;
}
hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}
#logo {
  width: 50px;
  height: 50px;
  margin: 2.5px 2.5px;
}
#portfolio {
  background-color: #eee;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}
#contact {
  background-color: #eee;
  margin: 0px 60px 0px 60px;
  border-radius: 6px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.adjacent-wells {
  max-height: 100%;
}
.text-divider {
  margin: 0 auto;
  background: white;
  width: 50px;
  height: 50px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}
#portfolio {
  height: 100%;
  width: auto;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.img-sizer {
  width: 100%;
  max-height: 300px;
}

#img1 {
  flex: 0.66;
}

#img2 {
  flex: 0.56;
}

#img3 {
  flex: 0.92;
}

#img4 {
  flex: 0.98;
}

.m-l-5 {
  margin-left: 5px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.formInput{
  position:relative;
  margin-bottom:10px;
  padding-bottom:10px;
  margin-left: 5px;
  border-bottom:1px solid #bbb;
}
.formInput input, .formInput textarea{z-index:1;position:relative;padding-right:0;padding-left:0;border:0;border-radius:0;font-size:1.5em;background:0 0;box-shadow:none!important;resize:none;width:100%;
}
.formInput input:focus, .formInput textarea:focus{outline:0
}
.formInput label{display:block;z-index:0;position:relative;top:2em;margin:0;font-size:.85em;line-height:1.764705882em;vertical-align:middle;vertical-align:baseline;opacity:0;-webkit-transition:top .3s ease,opacity .3s ease;transition:top .3s ease,opacity .3s ease;
}
.fa {
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
  color: #5cb85c;
  background: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}
.fa-free-code-camp {
  color: white;
  background: darkgreen;
}
.fa-codepen {
  background: white;
  color: black;
}
.green-wrapper {
  background-color: #5cb85c;
}
#banner {
  color: #fff;
  background: #5cb85c;
  border-color: #5cb85c;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.active {
  color: black !important;
}
.focus {
  color: black !important;
}
.navbar-default .navbar-nav > li > a:hover {
  color: black !important;
}
#footer-top {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}
#footer-bottom {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}
#banner .container {
    width: 95%;
    max-width: 1024px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}
#aboutNav {
  color: #fff;
}

.img-row {
  display: flex;
}
